
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #0f172a; 
    color: #f8fafc;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

nav a {
    color: #94a3b8;
    text-decoration: none;
    margin: 0 15px;
    font-size: 0.9rem;
    font-weight: 600;
    transition: color 0.3s;
}

nav a:hover {
    color: #38bdf8; 
}

main {
    height: 80vh;
    display: flex;
    align-items: center;
}

.tag-box {
    margin-bottom: 1rem;
}

.tag {
    display: inline-block;
    background: rgba(56, 189, 248, 0.1);
    color: #38bdf8;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 0.8rem;
    border: 1px solid #38bdf8;
}

h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    letter-spacing: -1px;
}

.description {
    max-width: 600px;
    color: #94a3b8;
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

.btn-signing, .btn-signing-main {
    background-color: #38bdf8;
    color: #0f172a;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.btn-get-started {
    color: #f8fafc;
    text-decoration: none;
    margin-right: 20px;
    font-weight: 600;
}

.btn-signing:hover, .btn-signing-main:hover {
    background-color: #7dd3fc;
}
body{
    background-image: url(1a0df66e9e74b66feaf1b4dae922b960.png);
}